<div class='logged-in' *ngIf='user.loggedIn'>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Righteous" rel="stylesheet">
    <ul>
        <li><a routerLink='/'><img src='https://media.giphy.com/media/FQhAvuyYK3PTq/200.gif' className='beemo' /></a></li>
        <li><a routerLink='/'>Home</a></li>
        <li><a routerLink='/search'>Search</a></li>
        <li><a routerLink='/contacts'>View All Contacts</a></li>
        <li><a routerLink='/profile'>My Profile</a></li>
        <li><a routerLink='/' (click)='logout()'>Logout</a></li>
    </ul>
</div>

<div class='logged-out' *ngIf='!user.loggedIn'>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Righteous" rel="stylesheet">
    <ul>
        <li><a routerLink='/'><img src='https://media.giphy.com/media/FQhAvuyYK3PTq/200.gif' className='beemo' /></a></li>
        <li><a routerLink='/'>Home</a></li>
        <li><a routerLink='/login'>Login</a></li>
        <li><a routerLink='/register'>Register</a></li>
    </ul>
</div>


<!-- Make login a variable -->