<button routerLink='/contacts'>Back to Contacts</button>
<br><br>
<form>
  <label>Name:
    <input type='text' name='name' [(ngModel)]='formData.name' required>
  </label>
  <br><br>
  <label>Address:
    <input type='text' name='address' [(ngModel)]='formData.address'>
  </label>
  <br><br>
  <label>Mobile:
    <input type='tel' name='mobile' [(ngModel)]='formData.mobile'>
  </label>
  <br><br>
  <label>Work:
    <input type='tel' name='work' [(ngModel)]='formData.work'>
  </label>
  <br><br>
  <label>Home:
    <input type='tel' name='home' [(ngModel)]='formData.home'>
  </label>
  <br><br>
  <label>Email:
    <input type='email' name='email' [(ngModel)]='formData.email'>
  </label>
  <br><br>
  <label>Twitter:
    <input type='text' name='twitter' [(ngModel)]='formData.twitter'>
  </label>
  <br><br>
  <label>Instagram:
    <input type='text' name='instagram' [(ngModel)]='formData.instagram'>
  </label>
  <br><br>
  <label>Github:
    <input type='url' name='github' [(ngModel)]='formData.github'>
  </label>
  <br><br>
  <button type='submit' (click)='addContact()' routerLink='/contacts'>Create</button>
</form>