<a routerLink='/contacts'>Back to Contacts</a>
<br>
<br>
<form>
  <label>Name:
    <input type='text'>
  </label>
  <br>
  <label>Address:
    <input type='text'>
  </label>
  <br>
  <label>Mobile:
    <input type='tel'>
  </label>
  <br>
  <label>Work:
    <input type='tel'>
  </label>
  <br>
  <label>Home:
    <input type='tel'>
  </label>
  <br>
  <label>Email:
    <input type='email'>
  </label>
  <br>
  <label>Twitter:
    <input type='text'>
  </label>
  <br>
  <label>Instagram:
    <input type='text'>
  </label>
  <br>
  <label>Github:
    <input type='url'>
  </label>
  <br>
  <button type='submit'>Create</button>
</form>